.calign
{
	text-align:center;
}

.mybadge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 22.844px;
  font-weight: bold;
  line-height: 27px;
  color: #2e224e;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  /*background-color: #999999;*/
}